

* {
    margin: 0;
    padding: 0;
}

body {
    background: #000;
    overflow:hidden;
}

#container {
    display: none;
    width: 100%;
    height: 100%;
}

h1.mainlogo {
    font-family: 'Cabin Sketch', cursive;
    position:absolute;
    top: 30px;
    left: 50%;
    width: 200px;
    margin-left: -100px;
    /*margin: -200px 0 0 -300px;*/
    text-align:center;
    text-transform: uppercase;
    font-size:60px;
    color: #fbfbfb;
    text-shadow: 2px 1px 3px #000;


}
#social_bar {
    position:absolute;
    bottom:0;
    left:0;
    height: 37px;
    text-align: right;
    line-height: 37px;
    padding-left: 10px;
    background: transparent url(img/social_bg.png) repeat-x;
    width: 100%;

}
#social_bar a {
    background: transparent url(img/social-icons.png) repeat-x;
    display:block;
    float:left;
    height: 32px;
    width: 32px;
    margin-right: 10px;
}
#social_bar #facebook {
    background-position: 0 0;

}#social_bar #mail {
     background-position: 31px 0;
 }

.wrap {
    /*min-height: 560px;*/
    position: absolute;
    overflow: hidden;
    display: table;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}
#scene {
    left: -50%;
    width: 200%;
    height: 567px;
}
#scene,
.layer {
    display: block;
    height: 100%;
    width: 200%;
    padding: 0;
    margin: 0;
}

.scene {
    /* min-height: 560px; */
    position: relative;
    overflow: hidden; }

.layer {
    position: absolute; }

.bg {
    background: url(img/bg.jpg) no-repeat center top;
    background-size: cover;
}


.stars {
    display: block;
    width: 100%;
    height: 567px;
}
 .stars_background{
     background: transparent url("img/stars_bg.png") repeat-x 0% top;
 }
.stars.back {
    background: transparent url("img/stars_back.png") repeat-x 0% top;
}

.stars.middle {
    background: transparent url("img/stars_middle.png") repeat-x 0% top;
}

.stars.front {
    background: transparent url("img/stars_front.png") repeat-x 30% top;
}

.moon {
    background: transparent url("img/moon-pj.png") no-repeat center top;
    width: 310px;
    height: 334px;
    display: block;
    position: absolute;
    top:6%;
    right: 30%;
    z-index: 999;
    background-size: 100%;

}

.boat {
    background: transparent url("img/jecky-e-dany.png") no-repeat center top;
    width: 458px;
    height: 270px;
    display: block;
    position: absolute;
    bottom: 6%;
    left: 30%;
    z-index: 999;
    background-size: 100%;

}

.wave {
    display: block;
    height: 194px;
    width: 100%;
    position:absolute;
    bottom: 0;
    background-size: 100%;
}

.wave.front {
    background: transparent url("img/wave_front.png") repeat-x 0% top;
    bottom: -8%;
    height: 194px;
}

.wave.medium {
    background: transparent url("img/wave_medium.png") repeat-x 50% top;
    bottom: -6%;
}

.wave.medium-back {
    background: transparent url("img/wave_medium-back.png") repeat-x 30% top;
    bottom: -2%;
}

.wave.far {
    background: transparent url("img/wave_far.png") repeat-x center top;
    /*bottom: -7%;*/

}

.tentacle {
    background: transparent url("img/tentacle.png") no-repeat center top;
    width: 160px;
    height: 188px;
    display: block;
    position: absolute;
    bottom: 2%;
    right: 37%;
    z-index: 999;
    background-size: 100%;
}

.tentacle-big {
    background: transparent url("img/tentacle-big.png") no-repeat center top;
    width: 198px;
    height: 272px;
    display: block;
    position: absolute;
    bottom: 0%;
    right: 30%;
    z-index: 999;
    background-size: 100%;
}
